.buttonList,
.buttonList ul {
    padding: 0;
    list-style-type: none;
}

/* Button configuration */
	.button {
		position: relative;
		margin: 5px 10px;
		display: inline-block;
	}
	.button > a {
		display: inline-block;
		min-width: 140px;
		text-decoration: none;
		font-size: 18px;
		padding: 10px 5px;
		border-width: 2px;
		border-style: solid;
		outline: none;
		transition: all 0.5s;
	}
	.buttonArrow > a:after {
		width: 0;
		height: 0;
		font-size: 0;
		border-style: solid;
		border-left-width: 5px;
		border-top-width: 5px;
		border-top-color: transparent;
		border-bottom-width: 5px;
		border-bottom-color: transparent;
		border-right-width: 0;
		content:"";
		margin: 8px 10px 0 8px;
		float: right;
		transition: all 0s;
	}
	.buttonArrow:hover > a:after {
		transition: transform 0.5s, border 0.5s;
		transform: rotate(90deg);
	}
	.button > ul {
		position: absolute;
		box-sizing: border-box;
		overflow: hidden;
		width: 100%;
		max-height: 0;
		border-width: 0;
		border-style: solid;
		transition: all 0s;
		z-index: 10;
	}
	.button:hover > ul {
		max-height: 200px;
		border-width: 1px;
		border-style: solid;
		transition: max-height 0.5s, border 0s;
	}

	.button > ul > li {
		display: block;
	}
	.button > ul > li > a {
		display: inline-block;
		width: 100%;
		text-decoration: none;
		padding: 5px 0;
		outline: 0;
		transition: all 0.5s;
	}
	
/* Green button */
	.buttonGreen > a,
	.buttonGreen > ul {
		border-color: #5B793D;
	}
	.buttonGreen > a,
	.buttonGreen > ul > li > a {		
		color: #5B793D;		
		font-size: 1.1em;
		background: #242424;
	}
	.buttonGreen > a:after {	
		border-left-color: #5B793D;
	}
	.buttonGreen:hover > a,
	.buttonGreen > ul > li > a:hover {
		color: #242424;
		background: #5B793D;
	}
	.buttonGreen:hover > a,
	.buttonGreen:hover > ul {
		border-color: #5B793D;
	}
	.buttonGreen:hover > a:after {
		border-left-color: #5B793D;
	}
