html {
    padding: 5px 10px;
    margin: 0 auto;
    font-family: 'Ubuntu', 'Arial',serif;
    font-size: 16px;
    line-height: 1.7;
    color: #526F33;
    background: #242424;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -webkit-font-smoothing: antialiased;
}

body {
    opacity: 0;
}

body header,body article{
    display: none;
}

p,ol,ul,li,a,h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
    font-size: 100%;
}

a {
    color: #fff;
    text-decoration: none;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}

a:hover {
    color: #fff;
    background: #000;
}

input[type=text], input[type=submit] {
    font-size: 10px;
}

input[type=text] {
    padding: 3px 6px;
    border: 1px solid #ccc;
    background: #fff;
    outline: none;
}

input[type=submit] {
    font-size: 12px;
    padding: 4px;
    cursor: pointer;
    border: none;
    background: #fff;
    outline: none;
}

header,article,h2 {
    margin-bottom: 15px;
}

h1 {
    font-size: 38px;
    margin-left: -2px;
    line-height:1.2;
}

h2,article p {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

.spawned {
    opacity: 1;
}

.spawned header,.spawned article{
    display: block;
}

.spawned h1,.spawned article{
    -webkit-animation: slideIn 1s 1 ease backwards;
    animation: slideIn 1s 1 ease backwards;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: -100px 0;
    -ms-transform-origin: -100px 0;
    transform-origin: -100px 0;
}

.spawned h1 {
    -webkit-animation-delay: 0ms;
    animation-delay: 0ms;
}

.spawned h2 {
    -webkit-animation: time 300ms 1 ease backwards;
    animation: time 300ms 1 ease backwards;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.spawned article:nth-of-type(1) {
    -webkit-animation-delay: 40ms;
    animation-delay: 40ms;
}

.spawned article:nth-of-type(2) {
    -webkit-animation-delay: 140ms;
    animation-delay: 140ms;
}

.spawned article:nth-of-type(3) {
    -webkit-animation-delay: 200ms;
    animation-delay: 200ms;
}

.spawned article:nth-of-type(4) {
    border-top: 1px solid #ccc;
    padding-top: 5px;
    -webkit-animation-delay: 300ms;
    animation-delay: 300ms;
}

.spawned article ul {
    list-style: none;
    -webkit-column-gap: 18px;
    -moz-column-gap: 18px;
    column-gap: 18px;
    -webkit-column-width: 180px;
    -moz-column-width: 180px;
    column-width: 180px;
}

::-moz-selection {
    color: #fff;
    background: #000;
}

::selection {
    color: #fff;
    background: #000;
}

@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: rotateY(-160deg);
        transform: rotateY(-160deg);
    }

    100% {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
}

@keyframes slideIn {
    0% {
        -webkit-transform: rotateY(-160deg);
        -ms-transform: rotateY(-160deg);
        transform: rotateY(-160deg);
    }

    100% {
        -webkit-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
}

@-webkit-keyframes time {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes time {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}